

body, html {
    font-size: 25px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    background-color: #121318;
    color: #dfdfdf;
    font-family: 'Montserrat';
}


hr {
    background-color: #eba15c;
    height: 1px;
    border: none;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    font-weight: 100;
    font-size: 30px;
    list-style-type: none;
}

h2 {
    font-weight: 400;
    font-size: 50px;
}

h3 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 0.3rem;
    margin-top: 1px;
}

text {
    max-width: 60%;
    display: block;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 1rem;
    font-weight: 100;
}

/* Major heading */
.SectionHeading {
    text-align: center;
    margin-bottom: 0;
}

/* General block of Test */
.Block {
    margin-top: 1rem;
    margin-left: 12%;
}



.DateSection {

    margin-top: 0.1rem;
    margin-bottom: 41.5px;
    font-size: 25px;
    font-weight: 300;
}


#Socials {
    height: 20px;
    position: sticky;
    top: 0px;
    right: 0px;
    text-align: right;
    margin-right: 5%;
    padding-top: 1%;
}

#GitLogo {
    position: relative;
    top: 5px;
    height: 25px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#ProfileContainer {
    display: flex;
    gap: 2.5rem;
    max-width: 800px;
    margin: 0 auto;
    margin-left: 5%;
}

#ProfileImage{
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
}

#Summary {
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: .3rem;
}

#ContactInfo {
    font-size: .75rem; 
}

#EmailEmoji {
    font-size: 1.4rem;
}

#GithubInfo {
    color: #eba15c;
    text-decoration: none;
    font-size: .75rem;
}

#NameBlock {
    margin: auto;
    /*width: 100vh;*/
    text-align: left;
}


#Name {
    
    font-size: 2.0rem;
    display: inline-block;
    margin-bottom: 0.3rem;
}

#ContactInfo {
    display: inline-block;
    margin-top: 0;
}



/* Education Section Styles */

.EducationBlock {
    margin-top: 1rem;
    margin-left: 15%;
}

#EducationHistory {
    margin-top: 5rem;
}


#WorkHistory {
    margin-top: 0;
}

#FluentWorlds {
    margin-bottom: 3rem;
}

#UserInterfaceTa {
    margin-bottom: 3rem;
}

#Skills {
    margin-top: 5rem;
    margin-bottom: 22vh;
}



.Grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.Column {
    flex: 0, 0, 0;
    min-width: 400px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.Column > div{
    margin-bottom: 3rem;
}

/********************************************************************MOBILE STYLE VALUES********************************************************/
@media (max-width: 800px) {


    body, html {
        font-size: 25px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        background-color: #121318;
        color: #dfdfdf;
        font-family: 'Montserrat';
    }
    
    
    hr {
        background-color: #eba15c;
        height: 1px;
        border: none;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    li {
        font-weight: 100;
        font-size: 30px;
        list-style-type: none;
        padding-right: 5px;
    }
    
    h2 {
        font-weight: 400;
        font-size: 50px;
    }
    
    h3 {
        font-weight: 300;
        font-size: 35px;
        margin-bottom: 0.3rem;
        margin-top: 1px;
    }
    
    text {
        max-width: 60%;
        display: block;
        margin-left: 5%;
        margin-right: auto;
        margin-bottom: 1rem;
        padding-right: 5px;
        font-weight: 100;
    }
    
    /* Major heading */
    .SectionHeading {
        text-align: center;
        margin-bottom: 0;
    }
    
    /* General block of Test */
    .Block {
        margin-top: 1rem;
        margin-left: 12%;
    }
    
    
    
    .DateSection {
    
        margin-top: 0.1rem;
        margin-bottom: 41.5px;
        font-size: 25px;
        font-weight: 300;
    }
    
    
    #Socials {
        height: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: right;
        margin-right: 5%;
        padding-top: 1%;
    }
    
    #GitLogo {
        position: relative;
        top: 5px;
        height: 25px;
        width: 25px;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #ProfileContainer {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        max-width: 800px;
        margin: 0 auto;
        margin-left: 5%;
    }
    
    #ProfileImage{
        width: 290px;
        height: 290px;
        object-fit: cover;
        border-radius: 50%;
        display: inline-block;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    
    #Summary {
        font-weight: 100;
        font-size: 1rem;
        margin-bottom: .3rem;
        padding-right: 5px;
    }
    
    #ContactInfo {
        font-size: .75rem; 
    }
    
    #EmailEmoji {
        font-size: 1.4rem;
    }
    
    #GithubInfo {
        color: #eba15c;
        text-decoration: none;
        font-size: .75rem;
    }
    
    #NameBlock {
        margin: auto;
        /*width: 100vh;*/
        text-align: left;
    }
    
    
    #Name {
        
        font-size: 2.0rem;
        display: inline-block;
        margin-bottom: 0.3rem;
    }
    
    #ContactInfo {
        display: inline-block;
        margin-top: 0;
    }
    
    
    
    /* Education Section Styles */
    
    .EducationBlock {
        margin-top: 1rem;
        margin-left: 15%;
    }
    
    #EducationHistory {
        margin-top: 5rem;
    }
    
    
    #WorkHistory {
        margin-top: 0;
    }
    
    #FluentWorlds {
        margin-bottom: 3rem;
    }

    #UserInterfaceTa {
        margin-bottom: 3rem;
    }
    
    #Skills {
        margin-top: 5rem;
        margin-bottom: 22vh;
    }
    
    
    
    .Grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .Column {
        flex: 0, 0, 0;
        min-width: 400px;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .Column > div{
        margin-bottom: 3rem;
    }
}